/* User profile page stylesheets */
.user_profile {
    margin-left: 12px;
    h3 {
        font-size: $font-size-mdlg;
    }
    div{
        padding: 5px 0;
        font-weight: 400;
        font-size: $font-size-md;
    }
    b {
        font-size: $font-size-md;
    }
}