extends ../../../layouts/layout.pug

block body
    +header
    +bottom_menu()

    +category('Икра')
        block content
            +catalog_card('Икра горбуши 200 гр.', '71.00 руб / уп', 'за баночку 200 гр.', 'dorado.html')
                img(src='../../../assets/images/product_categories/caviar/pink_salmon_caviar/pink_salmon_1.jpg' alt='Pink salmon caviar' class='rounded-top card-img-top') 
            +catalog_card('Икра горбуши 100 гр.', '37.00 руб / уп', 'за баночку 100 гр.', 'dorado.html')
                img(src='../../../assets/images/product_categories/caviar/pink_salmon_caviar/pink_salmon_100_1.jpg' alt='Pink salmon caviar' class='rounded-top card-img-top')
            +catalog_card('Икра кеты 100 гр.', '41.00 руб / уп', 'за баночку 100 гр.', 'dorado.html')
                img(src='../../../assets/images/product_categories/caviar/chum_salmon_caviar/chum_salmon_1.jpg' alt='Chum salmon caviar' class='rounded-top card-img-top')  
            +catalog_card('Икра кеты 200 гр.', '79.00 руб / уп', 'за баночку 200 гр.', 'dorado.html')
                img(src='../../../assets/images/product_categories/caviar/chum_salmon_caviar/chum_salmon_3.jpg' alt='Chum salmon caviar' class='rounded-top card-img-top') 
                      
    block description
        .container-xxl
            .category_description.p-2.p-md-3
                h2.text-center.fs-4.fs-sm-3 Икра в интернет магазине DiCarpio
                p Заморской баклажанной икры вы здесь не найдете, зато купить красную икру в DiCarpio можно в любое время дня и ночи.
                p Красная икра – это вкусный и полезный деликатес. Икра богата витаминами группы В, кальцием, фосфором, селеном, железом, магнием. Кроме того она – кладезь белков (больше, чем в говядине или твороге) и Омега-3. Это делает «рыбьи яйца» полезными для опорно-двигательного аппарата, иммунной и нервной системы.
                h3.text-center.fs-5.fs-sm-4 Икра красная
                p Этот нежный продукт добавит нотку изысканности праздничному обеду, ужину или ленивому декадентскому завтраку уютным утром выходного дня.
                p Красную икру получают из лосося, форели, горбуши, кижуча, нерки, кеты. У кеты «жемчужинки» крупнее, у нерки – мельче, разница во вкусе между видами практически неуловима и заметна разве что истинным гурманам.
                p Деликатес хорошего качества имеет красновато-оранжевый цвет и глянцевый блеск. На вкус икра солоноватая и издает характерный хлопающий звук, если прижать зернышко языком к небу.
                p Изысканный, похожий на драгоценный камень внешний вид и восхитительный вкус лососёвой икры – это не единственные ее достоинства, она является одним из самых полезных продуктов, известных человеку.
                h3.text-center.fs-5.fs-sm-4 Как едят икру
                p Икра – отличный повод поэкспериментировать. Подают на хлебе, хлебцах, галетах, крекерах, в тарталетках, используют для украшения тостов, салатов, коктейлей и других блюд, в конце концов, едят ложкой из банки. Главное не переусердствовать, натрия и холестерина в составе многовато.
                p Не кажется ли вам, что сейчас самое время заказать баночку икры и побаловать себя бутербродами на завтрак?

    +footer("darken")