/* Carousel (bottom header) 
    multiple items per slide */
// @media (max-width: 767px) {
//     .bottom_menu{
// 		.carousel-inner .carousel-item > div {
// 			display: none;
// 		}
// 		.carousel-inner .carousel-item > div:first-child {
// 			display: block;
// 		}
//     }    
// }

// .bottom_menu {
//     .carousel-inner .carousel-item.active,
//     .carousel-inner .carousel-item-next,
//     .carousel-inner .carousel-item-prev {
// 	    display: flex;
//     }    
// }

// /* medium and up screens */
// @media (min-width: 768px) {
//     .bottom_menu {
//         .carousel-inner .carousel-item-end.active,
//         .carousel-inner .carousel-item-next {
//             transform: translateX(25%);
//         }

//         .carousel-inner .carousel-item-start.active, 
//         .carousel-inner .carousel-item-prev {
//             transform: translateX(-25%);
//         }
//     }	
// }

// .bottom_menu {
//     .carousel-inner .carousel-item-end,
//     .carousel-inner .carousel-item-start { 
//         transform: translateX(0);
//     }
//     .carousel-control-prev-icon,
//     .carousel-control-next-icon {
//         background-color: $white;
//         border-radius: 100px;
//         box-shadow: $box-shadow;
//     }
// }



/* dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */

/* 
.multi-item-carousel {
    .carousel-inner {
      > .item {
        transition: 500ms ease-in-out left;
      }
      .active {
        &.left {
          left: -33%;
        }
        &.right {
          left: 33%;
        }
      }
      .next {
        left: 33%;
      }
      .prev {
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item {
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none !important;
        }
      }
    }
    .carouse-control {
      &.left,
      &.right {
        background-image: none;
      }
    }
  }
   */

// .product_carousel {
//     height: 500px;
//     img {
//         //width: auto;
//         height: 500px;
//     }
// }
   