/* Carousel (bottom header) 
    multiple items per slide */
// @media (max-width: 767px) {
//     .bottom_menu{
// 		.carousel-inner .carousel-item > div {
// 			display: none;
// 		}
// 		.carousel-inner .carousel-item > div:first-child {
// 			display: block;
// 		}
//     }    
// }

// .bottom_menu {
//     .carousel-inner .carousel-item.active,
//     .carousel-inner .carousel-item-next,
//     .carousel-inner .carousel-item-prev {
// 	    display: flex;
//     }    
// }

// /* medium and up screens */
// @media (min-width: 768px) {
//     .bottom_menu {
//         .carousel-inner .carousel-item-end.active,
//         .carousel-inner .carousel-item-next {
//             transform: translateX(25%);
//         }

//         .carousel-inner .carousel-item-start.active, 
//         .carousel-inner .carousel-item-prev {
//             transform: translateX(-25%);
//         }
//     }	
// }

// .bottom_menu {
//     .carousel-inner .carousel-item-end,
//     .carousel-inner .carousel-item-start { 
//         transform: translateX(0);
//     }
//     .carousel-control-prev-icon,
//     .carousel-control-next-icon {
//         background-color: $white;
//         border-radius: 100px;
//         box-shadow: $box-shadow;
//     }
// }



/* dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */

/* 
.multi-item-carousel {
    .carousel-inner {
      > .item {
        transition: 500ms ease-in-out left;
      }
      .active {
        &.left {
          left: -33%;
        }
        &.right {
          left: 33%;
        }
      }
      .next {
        left: 33%;
      }
      .prev {
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item {
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none !important;
        }
      }
    }
    .carouse-control {
      &.left,
      &.right {
        background-image: none;
      }
    }
  }
   */

// .product_carousel {
//     height: 500px;
//     img {
//         //width: auto;
//         height: 500px;
//     }
// }
   

//Generated carousel (carousel inside a product card page)

#related_product_slider {
    display: flex;
    align-items: center;
    width: 90vw;
    overflow: hidden;

}

.btn {
    cursor: pointer;
    font-size: 100px;
    width: 100px;
 
}

.item, .carousel, .card {
    display: flex;
}

.carousel-wrapper {
    width: 90vw;
    margin: 0 20px;
    overflow: hidden;
}

.product_carousel {
    .carousel-control-next, 
    .carousel-control-prev {
        width: 8%;   
    }
    @media only screen and (min-width: 320px) {
        .carousel-control-next, 
        .carousel-control-prev {
            width: 13%;   
        }
    }
}




/* Carousels module 
(consist carousel with promo products, commend products, new products)  
*/
.new_products,
.commend_products,
.products_for_shares {
        width: 85vw;
}
#carousels_module {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        list-style: none;
        margin: 0;
        a {
            color: $title_color;
        } 
        li {
            @extend %link_and_icon_styles;
            border-bottom: 3px solid transparent;
        }
        @media only screen and (min-width: 320px) {
            li {
                font-size: $font-size-xs;
                padding: 10px 2vw;
                margin: 0 2vw;
            }
        }
        @media only screen and (min-width: 576px) {
            li {
                font-size: $font-size-md;
                padding: 15px 3vw;
                margin: 0 3vw;  
            }
        }
        @media only screen and (min-width: 768px) {
            li {
                font-size: $font-size-base;
                padding: 20px 3vw; 
                margin: 0 max(3vw, 30px);
            }
        }
    }
    #tabs__caption{
        .active {
            a {
                color: $main-color;
            }
            border-bottom: 3px solid $main-color;
            cursor: text;
        }
        .inactive {
            color: $title_color;
        }
    }
    .inactive {
        display: none;
    }
}