extends ../layouts/layout.pug

block body
    +header
    +bottom_menu()

    +start_page_carousel()
    h1.fs-4.px-2.text-center Магазин рыбы и морепродуктов в Беларуси

    //Module consist of three carousel with special products (products on share, commend product and new products)  
    section#carousels_module
        .container-xxl.d-flex.flex-column.align-items-center
            .row
                .col-12
                    ul#tabs__caption.border-bottom.d-flex
                        li#on_action_label.fw-bold
                            a(href="javascript:void(0)") Сейчас на акции
                        li#new_product_label.fw-bold.active
                            a(href="javascript:void(0)") Новинки
                        li#commend_label.fw-bold
                            a(href="javascript:void(0)") Рекомендуем
            +carousel_commend_products()
            +carousel_new_products()
            +carousel_products_for_shares()

    +footer