extends ../../../layouts/layout.pug

block body
    +header
    +bottom_menu()

    +category('Полуфабрикаты')
        block content
            +catalog_card('Основа для пасты “Креветки в шпинатном соусе”', '12.00 руб / уп', 'цена за упаковку 230 гр.', 'dorado.html')
                img(src='../../../assets/images/product_categories/semis/shrimp_in_spinach_sauce/shrimp_in_spinach_sauce_1.jpeg' alt='Shrimp in spinach sauce' class='rounded-top card-img-top') 
            +catalog_card('Основа для пасты “Лосось в шпинатном соусе”', '15.00 руб / уп', 'цена за упаковку 230 гр.', 'dorado.html')
                img(src='../../../assets/images/product_categories/semis/salmon_in_spinach_sauce/salmon_in_spinach_sauce_1.jpeg' alt='Salmon in spinach sauce' class='rounded-top card-img-top')  
            +catalog_card('Рулеты из сёмги с сыром и оливками', '90.00 руб / кг', 'цена за упаковку 450 гр - 40,50 руб', 'dorado.html')
                img(src='../../../assets/images/product_categories/semis/salmon_rolls/salmon_rolls_1.jpeg' alt='Salmon rolls' class='rounded-top card-img-top')
            +catalog_card('Медальоны хека', '20.50 руб / кг', 'цена за упаковку 1,1 кг - 22,55 руб', 'dorado.html')
                img(src='../../../assets/images/product_categories/fillets_and_steaks/hake_medallions/hake_medallions_1.jpeg' alt='Hake medallions' class='rounded-top card-img-top')
            +catalog_card('Медальоны тунца', '13.10 руб / уп', 'за упаковку 500 гр', 'dorado.html')
                img(src='../../../assets/images/product_categories/fillets_and_steaks/tuna_medallions/tuna_medallions_1.jpg' alt='Tuna medallions' class='rounded-top card-img-top') 
            +catalog_card('Шашлычки из тунца в пряном маринаде', '33.50 руб / кг', 'цена за упаковку 350 гр - 11,70 руб', 'dorado.html')
                img(src='../../../assets/images/product_categories/semis/tuna_kebab/tuna_kebab_1.jpeg' alt='Tuna kebab' class='rounded-top card-img-top') 
            +catalog_card('Обрези лососёвые', '11.00 руб / кг', 'цена за упаковку 0,85 кг - 9,35 руб', 'dorado.html')
                img(src='../../../assets/images/product_categories/red_fish/salmon_trimmings/salmon_trimmings_1.jpg' alt='Salmon trimmings' class='rounded-top card-img-top')
                      
    block description
        .container-xxl
            .category_description.p-2.p-md-3
                h2.text-center.fs-4.fs-sm-3 Красная рыба в интернет-магазине DiCarpio
                p К красной рыбе относятся деликатесные виды рыб семейства осетровых и лососевых. С помощью этих продуктов можно приготовить большое количество разнообразных и вкусных блюд для повседневного и праздничного меню.
                p Сложность заключается в том, что купить рыбную продукцию высокого качества не так просто. Часто на прилавках магазинов продается красная рыба, при хранении которой не соблюдаются необходимые условия. Это оказывает негативное влияние на вкусовые качества продукта, а также уменьшает количество полезных веществ в его составе.
                p <b> Купить красную рыбу в Минске можно в магазине DiCarpio. </b> Покупателей порадует не только качество продукции, но и доступные цены, ведь во многих магазинах часто встречается рыба, цены на которую завышены в несколько раз, а качество и вкус оставляют желать лучшего.
                h3.text-center.fs-5.fs-sm-4 Подробнее о красной рыбе
                p Красная рыба обладает нежным вкусом. К сожалению, встретить качественную рыбную продукцию можно не всегда. Из-за отсутствия выхода к морю вся морская рыба в Республику Беларусь поставляется из других стран. Поставщиками не всегда соблюдаются условия хранения и транспортировки, что непосредственным образом влияет на вкусовые качества красной рыбы.
                p Купить красную рыбу с доставкой на дом можно в магазине DiCarpio. Чтобы максимально сохранить витамины и отличные вкусовые качества рыбы, мы используем шоковую заморозку, благодаря которой продукция при транспортировке не теряет полезных свойств. Сделайте заказ и наслаждайтесь неповторимым вкусом дикой морской рыбы.
                p В кулинарии используются различные виды красной рыбы, которая отлично сочетается со многими ингредиентами. Наиболее полезной считается слабосолёная рыба, для её приготовления можно использовать замороженную красную рыбу, этот продукт подойдёт и для любых других видов термической обработки.
                h3.text-center.fs-5.fs-sm-4 Полезные свойства красной рыбы
                p Блюда, приготовленные из красной рыбы, обладают не только отличными вкусовыми свойствами, но и несут огромную пользу для организма. Конечно, витаминно-минеральный состав отличается у разных видов рыбы, но общие полезные свойства у такой продукции схожи. Благодаря высокому содержанию в составе полиненасыщенных жирных кислот омега-3 и омега-6 регулярное употребление красной рыбы:
                ul
                    li Оказывает положительное влияние на работу нервной системы;
                    li Улучшает память;
                    li Повышает концентрацию внимания;
                    li Препятствует развитию заболеваний сердечно-сосудистой системы;
                    li Способствует выведению из организма холестерина;
                    li Используется при профилактике сахарного диабета;
                    li Улучшает состояние кожных покровов, волос и ногтей;
                    li Препятствует развитию воспалительных процессов.
                p Красная рыба также богата витаминами, минералами, микро- и макроэлементами. Эти вещества необходимы для правильного роста, развития и функционирования организма. Особенно они необходимы детям и пожилым людям, а также тем, кто восстанавливается после перенесенных заболеваний, операций или травм.
                h4.text-center.fs-5.fs-sm-4 Полезные свойства красной рыбы
                p.mb-5 Купить красную рыбу по лучшим ценам в Минске можно в магазине DiCarpio. Ассортимент продукции представлен в каталоге сайта, здесь же можно добавить понравившуюся красную рыбу в корзину и оформить доставку.

    +footer("darken")