extends ../../../layouts/layout.pug

block body
    +header
    +bottom_menu()

    +category('Полуфабрикаты')
        block content
            +catalog_card('Основа для пасты "Креветки в шпинатном соусе"', '12.00 руб / уп', 'цена за упаковку 230 гр.', 'shrimp_in_sauce.html')
                img(src='../../../assets/images/product_categories/semis/shrimp_in_spinach_sauce/shrimp_in_spinach_sauce_1.jpeg' alt='Shrimp in spinach sauce' class='rounded-top card-img-top')
                .product__label-wrap
                    .new_label Новинка
            +catalog_card('Основа для пасты "Лосось в шпинатном соусе"', '15.00 руб / уп', 'цена за упаковку 230 гр.', 'salmon_in_sauce.html')
                img(src='../../../assets/images/product_categories/semis/salmon_in_spinach_sauce/salmon_in_spinach_sauce_1.jpeg' alt='Salmon in spinach sauce' class='rounded-top card-img-top img-fluid')
                .product__label-wrap
                    .new_label Новинка 
            +catalog_card('Основа для пасты "Мидии в томатном соусе"', '7.00 руб / уп', 'цена за упаковку 230 гр.', 'mussels_in_tomato.html')
                img(src='../../../assets/images/product_categories/semis/mussels_in_tomato_sauce/mussels_in_sauce.jpeg' alt='Mussels in tomato sauce' class='rounded-top card-img-top')
                .product__label-wrap
                    .new_label Новинка 
            +catalog_card('Основа для пасты "Сливочная с укропом и кальмаром"', '10.00 руб / уп', 'цена за упаковку 230 гр.', 'squid_with_dill.html')
                img(src='../../../assets/images/product_categories/semis/squid_with_dill/squid_with_dill.jpeg' alt='Squid' class='rounded-top card-img-top img-fluid')
                .product__label-wrap
                    .new_label Новинка
            +catalog_card('Рулеты из сёмги с сыром и оливками', '90.00 руб / кг', 'цена за упаковку 450 гр - 40,50 руб', 'salmon_rolls.html')
                img(src='../../../assets/images/product_categories/semis/salmon_rolls/salmon_rolls_1.jpeg' alt='Salmon rolls' class='rounded-top card-img-top img-fluid')
                .product__label-wrap
                    .new_label Новинка
            +catalog_card('Шашлычки из тунца в пряном маринаде', '33.50 руб / кг', 'цена за упаковку 350 гр - 11,70 руб', 'tuna_kebab.html')
                img(src='../../../assets/images/product_categories/semis/tuna_kebab/tuna_kebab_1.jpeg' alt='Tuna kebab' class='rounded-top card-img-top img-fluid')
            +catalog_card('Медальоны тунца', '13.10 руб / уп', 'за упаковку 500 гр', 'tuna_medallions.html')
                img(src='../../../assets/images/product_categories/fillets_and_steaks/tuna_medallions/tuna_medallions_2.jpg' alt='Tuna medallions' class='rounded-top card-img-top img-fluid') 
            +catalog_card('Медальоны хека', '20.50 руб / кг', 'цена за упаковку 1,1 кг - 22,55 руб', 'hake_medallions.html')
                img(src='../../../assets/images/product_categories/fillets_and_steaks/hake_medallions/hake_medallions_1.jpeg' alt='Hake medallions' class='rounded-top card-img-top img-fluid')
            +catalog_card('Обрези лососёвые', '11.00 руб / кг', 'цена за упаковку 0,85 кг - 9,35 руб', 'salmon_trimmings.html')
                img(src='../../../assets/images/product_categories/red_fish/salmon_trimmings/salmon_trimmings_1.jpg' alt='Salmon trimmings' class='rounded-top card-img-top img-fluid')
                .product__label-wrap
                    .commend_label Рекомендуем
                      
    block description
        .container-xxl
            .category_description.p-2.p-md-3
                h2.text-center.fs-4.fs-sm-3 Полуфабрикаты из рыбы и морепродуктов
                p Настоящее спасение для работающих людей – это полуфабрикаты из рыбы и морепродуктов. Они здорово экономят время и нервы. Что может быть проще, чем вынуть из упаковки предварительно подготовленные и подвергшиеся шоковой заморозке рыбные котлетки, шашлычки из креветок, кусочки филе в панировке, набор для ухи и т. д., и просто бросить их на сковороду, гриль или в кастрюльку, а то и банально разогреть?
                p DiCarpio занимается продажей полуфабрикатов из морепродуктов и рыбы в Минске и в других городах Беларуси.
                p <b> Почему среди сотен компаний стоит выбрать нашу: </b>
                ul
                    li Мы реализуем только свежую продукцию, имеющую декларации соответствия, ветеринарные сертификаты, удостоверения качества и безопасности;
                    li Ассортиментная линейка мороженых полуфабрикатов из различных сортов рыбы постоянно расширяется;
                    li DiCarpio дорожит репутацией и работает только с проверенными производителями. Полуфабрикаты производятся из высококачественного сырья, сразу подвергаются быстрой глубокой заморозке, благодаря этому в рыбных изделиях сохраняется оригинальный вкус, а также полезные витамины и минеральных вещества;
                    li Мы имеем собственный автопарк и тщательно следим за температурным режимом при перевозке;
                    li Планируем расширить и без того обширную географию доставки;
                    li Регулярно проводим акции, во время которых можно купить полуфабрикаты из рыбы по сниженной цене.
                p Связывайтесь с нами по телефону, электронной почте, через Instagram и покупайте вкусные, полезные и легкие в приготовлении продукты. Кстати, в нашем аккаунте Instagram мы делимся с потребителями простыми и необычными рецептами блюд, советами по хранению и приготовлению рыбы.

    +footer("darken")