mixin header()
    header.m-0.p-0
        .container-fluid
            .row.nav_row.px-0
                .col-12.d-none.d-sm-block.flex.justify-content-start.px-0
                    nav.navbar.navbar-expand-sm.nav_color.py-1
                        .container-xxl.p-0
                            #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-between
                                .navbar-nav.fs-6.fw-medium
                                    a.nav-link.main_nav(aria-current='page' href='index.html') 
                                        | Главная
                                    a.nav-link.main_nav(href='fresh_frozen_fish.html') О нас
                                    a.nav-link.main_nav(href='#') Доставка и оплата
                                    a.nav-link.main_nav(href='#') Контакты      
                                #phone_icon_mini.d-block.d-md-none.me-3.me-md-0
        .container-xxl
            .row
                .col-12
                    .d-flex.flex-row.justify-content-between
                        .hamburger-menu.d-md-none.z-3
                            input#menu__toggle(type='checkbox')
                            label.menu__btn(for='menu__toggle')
                                i
                            .menu__box.menu__boxs
                                div
                                    ul
                                        li.py-2
                                            a.menu__box__item(href='fresh_frozen_fish.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_7.svg' alt='Fresh frozen fish')
                                                | Свежемороженая рыба
                                        li.py-2
                                            a.menu__box__item(href='fillets_and_steaks.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_6.svg' alt='Fillets and steaks')
                                                | Филе и стейки
                                        li.py-2
                                            a.menu__box__item(href='seafood.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_4.svg' alt='Seafood')
                                                | Морепродукты
                                        li.py-2
                                            a.menu__box__item(href='semis.html')
                                                img(src='https://dicarpio.by/wp-content/uploads/2022/02/icon_fabrikat1.svg' alt='Semis')
                                                | Полуфабрикаты
                                        li.py-2
                                            a.menu__box__item(href='red_fish.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_8.svg' alt='Red fish')
                                                | Красная рыба
                                        li
                                            a.menu__box__item.disabled(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_8.svg' alt='Cooled fish')
                                                | Охлажденная рыба
                                        li.py-2
                                            a.menu__box__item(href='caviar.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_3.svg' alt='Caviar')
                                                | Икра
                                        li.py-2
                                            a.menu__box__item(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_1.svg' alt='Groceries and sauses')
                                                | Бакалея и соусы
                                        li.py-2
                                            a.menu__box__item.disabled(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2022/02/10.svg' alt='Side dishes')
                                                | Гарниры
                                        li.py-2
                                            a.menu__box__item(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_5.svg' alt='Oils and spices')
                                                | Масла и специи
                                .darken.d-sm-none
                                    ul
                                        li.py-2
                                            a.menu__box__item(href='#') О нас
                                        li.py-2
                                            a.menu__box__item(href='#') Доставка и оплата
                                        li.py-2
                                            a.menu__box__item Контакты
                        .d-none.d-md-flex.flex-row.align-items-center
                            div
                                a.dropdown_menu_link.dropdown-toggle.me-2.me-lg-4(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Каталог
                                    ul.dropdown-menu
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='fresh_frozen_fish.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_7.svg' alt='Fresh frozen fish')
                                                span Свежемороженая рыба
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='fillets_and_steaks.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_6.svg' alt='Fillets and steaks')
                                                span Филе и стейки
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='caviar.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_3.svg' alt='Caviar')
                                                span Икра
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='red_fish.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_8.svg' alt='Red fish')
                                                span Красная рыба
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='seafood.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_4.svg' alt='Seafood')
                                                span Морепродукты
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='semis.html')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2022/02/icon_fabrikat1.svg' alt='Semis')
                                                span Полуфабрикаты
                                        li.py-1
                                            a.menu__box__item.dropdown-item.disabled(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_8.svg' alt='Cooled fish')
                                                span Охлажденная рыба
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_1.svg' alt='Groceries and sauses')
                                                span Бакалея и соусы
                                        li.py-1
                                            a.menu__box__item.dropdown-item.disabled(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2022/02/10.svg' alt='Side dishes')
                                                span Гарниры
                                        li.py-1
                                            a.menu__box__item.dropdown-item(href='#')
                                                img.me-2(src='https://dicarpio.by/wp-content/uploads/2020/10/icon_5.svg' width='32' alt='Oils and spices')
                                                span Масла и специи
                                    a.link_promo.mt-1(href='#')
                                        i
                                        | Акции
                        div.logo
                            a(href='index.html')
                                img.img-fluid.pt-2.pb-1.pb-sm-0(src='./assets/icons/logo.svg' alt='logotype')

                        .d-flex.flex-row.justify-content-center.align-items-center
                            .phone_wrapper.d-none.d-md-flex.flex-row.justify-content-center.align-items-center.me-2.border-end.border-2
                                .phone_icon
                                a.phone_link.icon-link.mx-2.ms-lg-4.me-lg-3(href='tel:+375 (25) 90-554-09') + 375 (25) 905-54-09
                            a#favourite_icon.icon-link.ms-2.ms-lg-3(href='test.html' type='button' data-bs-toggle='modal' data-bs-target='#autorizationModal'): i 
                            a#user_account.icon-link.ms-2.ms-lg-3(href='profile.html'): i
                            a#grosery.icon-link.ms-2.ms-lg-3(href='#'): i
            hr.mt-2

    #autorizationModal.modal.fade(tabindex='-1' aria-labelledby='autorizationModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.pb-0.border-0
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body.d-flex.flex-column.align-items-center.py-0.border-0
                    img.img-fluid.pb-3(src='./assets/icons/logo.svg' alt='logotype')
                    form.form#autorization_form(name="Autorization form")
                        .mb-2 
                            span Войти в личный кабинет
                        .mb-3
                            input#email_aut.form-control.rounded-pill(type='email' name='email' placeholder='Введите E-mail*' maxlength='45' required)
                            .error
                        .mb-3
                            input#password_aut.form-control.rounded-pill(type='password' name='password' placeholder='Введите пароль*' minlength='6' maxlength='26' required) 
                            .error
                        .modal-footer.d-flex.flex-column.align-items-center.border-0
                            button.button_wide.mb-3.fs-6(type='submit') Войти
                            span.m-1 Нет аккаунта?
                            button#create_account.button_wide.fs-6(data-bs-target="#registrationModal" data-bs-toggle="modal") Создать

    #registrationModal.modal.fade(tabindex='-1' aria-labelledby='registrationModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.pb-0.border-0
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body.d-flex.flex-column.align-items-center.py-0.border-0
                    img.img-fluid.pb-3(src='./assets/icons/logo.svg' alt='logotype')
                    form.form#registration_form(name="Account registration form")
                        .mb-2
                            span Регистрация аккаунта
                        .mb-3
                            input#username_regist.form-control.rounded-pill(type='text' name='username' placeholder='Введите имя*' maxlength='45' pattern='[A-Za-z]+|[А-Яа-яЁёЎўІі]+' title='Только символы латинского или русского алфавитов' required)
                            .error
                        .mb-3
                            input#tel_regist.form-control.rounded-pill(type='tel' name='tel' placeholder='Введите телефон*' required)
                            .error
                        .mb-3
                            input#email_regist.form-control.rounded-pill(type='email' name='email22' placeholder='Введите E-mail*' maxlength='45' pattern='/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required)
                            .error
                        .mb-3
                            input#password_regist.form-control.rounded-pill(type='password' name='password22' aria-labelledby='passwordHelpInline' placeholder='Введите пароль*' minlength='6' maxlength='26' required)
                            span#passwordHelpInline.form-text Должен быть от 6 до 26 символов
                            .error
                        .mb-3
                            input#password_regist_repeat.form-control.rounded-pill(type='password' name='repeatPassword' placeholder='Повторите пароль*' minlength='6' maxlength='26' required)   
                            .error
                        .modal-footer.d-flex.flex-column.align-items-center.border-0
                            button.button_wide.my-3.fs-6(type='submit') Зареристрироваться