/* Colors */
// Main colors
$layout-color: #13334A;
$title_color: #00314C;
$main-color: #D85829;
// $layout-color: #7B68EE;
// $title_color: #483D8B;
// $main-color: #66CDAA;
$white: #ffffff;
$black: #000000;
//Secondary colors
$nav-color:#A8A8A8;
$bc-input-color: #F2F2F2;
//Label colors
$promo_label_color: #DD0C0C;
$new_label_color: #2945D8;
$commend_label_color: #0795E4;

/* Font variables */

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-xxs:               $font-size-base * 0.57;
$font-size-xs:                $font-size-base * 0.69;
$font-size-sm:                $font-size-base * 0.815;
$font-size-md:                $font-size-base * 0.875;
$font-size-mdlg:              $font-size-base * 1.125;
$font-size-lg:                $font-size-base * 1.25;
$font-size-xl:                $font-size-base * 1.375;


/* Box shadow */

$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);